div {
  margin: 0 20px;
  text-align: center;
  max-width: 300px;
  margin: auto;

  p {
    font: 600 18px 'Open Sans';
    color: #303030;
  
    span {
      color: red;
    }
  }
  
  button {
    border-radius: 0;
    padding: 12px;
    font: 600 14px 'Open Sans';
    background: green;
    color: #fff;
    margin: 0 10px 0 0;
    border: 0;
    text-transform: uppercase;
    height: 40px;
  }
  
  input {
    padding: 10px;
    font: 400 16px 'Open Sans';
    border: 1px solid green;
    border-right: 0;
  }
  
  .title {
    text-decoration: underline;
    text-align: center;
  }
  
  ul {
    list-style: none;
  
    li {
      list-style: circle;
      padding: 10px 0;
      text-align: left;

      span {
        background: red;
        border-radius: 50%;
        margin: 0 10px;
        font-weight: 600;
        padding: 3px;
        color: #fff;
        font-size: 10px;
        display: inline;
        cursor: pointer;
      }
    }
  }

  .time {
    font: 400 16px 'Open Sans';
    text-transform: uppercase;

    .clock {
      color: red;
      font-weight: 600;
    }
  }
}
